.hero-container {
  position: relative;
  width: 100%;
  font-size: 35px;
  margin-bottom: 25px;
}

.hero-container > h2 {
  position: relative;
  top: 400px;
}

.sticky{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  text-decoration: underline;
  z-index: 100;
}

.container2{
  position: absolute;
  width: 100%;
}

section {
  margin-inline: auto;
  padding-inline: 20px;
  margin-left: 50%;
}

nav {
  display: grid;
  position: sticky;
  grid-template-columns: calc(25% - 10px) calc(7% - 10px) calc(18% - 5px) calc(50% - 5px);
  column-gap: 10px;
  margin-inline: auto;
  padding-inline: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  transition: background-color 0.1s;
}

body {
  transition: background-color 0.5s ease;
}


body:has(.parent [class~="child"][class~="1"]:hover) {
  background-color: #ffcccc; /* Light red */
}

body:has(.parent [class~="child"][class~="2"]:hover) {
  background-color:
  #ccffcc; /* Light green */
}

body:has(.parent [class~="child"][class~="3"]:hover) {
  background-color: #ccccff; /* Light blue */
}

body:has(.parent [class~="child"][class~="4"]:hover) {
  background-color: #ffffcc; /* Light yellow */
}

body:has(.parent [class~="child"][class~="5"]:hover) {
  background-color: #ffccff; /* Light purple */
}

body:has(.parent [class~="child"][class~="6"]:hover) {
  background-color: #ccffff; /* Light cyan */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  scroll-margin-top: 90vh;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlay-gif {
  position: absolute;
  width: 50%;
  height: auto;
}

/* Add transitions to images for smooth zoom effect */
.background-image, .overlay-gif {
  transition: transform 0.4s ease;
}

/* Zoom out effect on hover */
[class~="child"]:hover .background-image,
[class~="child"]:hover .overlay-gif {
  transform: scale(1.05);
}

.full-page-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* debugging */
div {
  border: 1px solid red;
}